#include <iostream>
#include <fstream>

using namespace std;

struct equipo{
	char* nombre; 
	int edad;
};
	
	int main (){
		equipo es1;  
		es1.nombre="Abner V";
		ofstream fs("nombre.txt.", ios::binary | ios::app);
		fs.write ((char*)&es1, sizeof(struct equipo));
		fs.close();
		
		cout <<"hola" << endl;
		
		ifstream input("nombre.txt", ios::binary);
		equipo aux;
		input.read((char*) &aux, sizeof (struct equipo));
		
		cout << aux.nombre << endl;
		cout << aux.edad << endl;
		
		input.close();
		return 0;
	}
